<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="4.1.8" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Fody" version="1.29.3" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="FreshMvvm" version="0.0.6" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1857" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0-unstable1857" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="refit" version="2.4.1" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Splat" version="1.6.2" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Toasts.Forms.Plugin" version="2.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms.Maps" version="1.5.1.6471" targetFramework="portable-net45+wp80+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>